@mixin clear{
	content: '';
	display: block;
	clear: both;
}

@mixin middleAlign{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

@mixin ellipsis($num:null){
	@if($num == null){
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	} @else {
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: $num;
		-webkit-box-orient: vertical;
	}
}
