//상세 페이지
.detail_view{
	padding: 15px 15px 20px;
	background-color: #f7f7ff;

	.title{
		font-size: 32px;
		line-height: 40px;
		color: #222;
	}
	
	.author_info{
		text-align: right;

		.name{
			display: block;
			font-size: 18px;
			line-height: 20px;
		}
		.date{
			font-size: 14px;
			line-height: 20px;
			color: #888;
		}
	}

	.content_area{
		white-space: pre-line;
		min-height: 72px;
		line-height: 24px;
	}

	.button_area{
		padding: 40px 0 20px;
		margin: 0 -5px;

		.btn_back,
		.btn_edit,
		.btn_delete{
			padding: 0 15px;
			margin: 0 5px;
			font-size: 16px;
			line-height: 40px;
			color: #333;
			border-radius: 10px;
			background-color: rgba(85,240,50,0.7);

			&:hover {
				background-color: rgba(85,240,50,0.9);
			}
		}

		.btn_edit{
			float: right;
			background-color: rgba(255,190,5,0.7);

			&:hover{
				background-color: rgba(255,190,5,0.9);
			}
		}

		.btn_delete{
			float: right;
			background-color: rgba(255,100,80,0.7);
			&:hover{
				background-color: rgba(255,100,80,0.9);
			}
		}
	}
}