.music_sheet_group{
	padding: 12px 0 10px;

	&::after{
		@include clear;
	}
}

.music_sheet{
	position: relative;
	width: 100%;
	padding: 10px 0 10px 50px;
	clear: both;
	font-size: 0;
	box-sizing: border-box;

	.btn_remove{
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);

		@include sprite($ico_remove);
	}

	.view_mode &{
		padding-left: 0;
		.btn_remove{
			display: none;
		}
	}
}

.music_record{
	display: inline-block;
	width: 25%;
	font-size: 1.6rem;
	vertical-align: top;

	&+.music_record{
		margin-left: -1px;
	}

	.indicator{
		position: absolute;
		left: 0;
		width: 50px;
		text-align: center;
		vertical-align: top;
		line-height: 30px;

		&.tab{
			left: -50px;
			margin-top: 5px;
		}
	}

	.music_code,.music_lyrics{
		min-height: 20px;
		font-size: 14px;
		line-height: 20px;

		input{
			width: 100%;
			padding: 3px 5px;
			background-color: #fff;
			border: 1px solid #cacaca;
			box-sizing: border-box;
		}
	}
}

.music_note{
	position: relative;
	height: 42px;
	margin: 8px 0;
	background-color: #fff;
	border: 2px solid #000;
	border-width: 0 2px;

	.line{
		position: absolute;
		left: 0;
		right: 0;
		padding: 7px 0;

		&::before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 1px;
			background-color: #000;
		}

		&::after{
			content: '';
			position: absolute;
		    width: 1px;
		    height: 42px;
		    background-color: #000;
		}

		&.first{
			top: -7px;

			&::after{
				top: 7px;
				left: 25%;
			}
		}
		&.second{
			top: calc(33% - 7px);

			&::after{
				top: -7px;
				left: 50%;
			}
		}
		&.third{
			bottom: calc(33% - 7px);
			&::after{
				bottom: -7px;
				left: 75%;
			}
		}
		&.fourth{
			bottom: -6px;

			&::after{
				content: none;
			}
		}
	}

	.point{
		position:absolute;
		width:10px;
		height:10px;
		background-color: #000;
		border-radius: 5px;
		z-index:1;
	}
}