// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ico-cancel-name: 'ico_cancel';
$ico-cancel-x: 64px;
$ico-cancel-y: 64px;
$ico-cancel-offset-x: -64px;
$ico-cancel-offset-y: -64px;
$ico-cancel-width: 34px;
$ico-cancel-height: 34px;
$ico-cancel-total-width: 162px;
$ico-cancel-total-height: 128px;
$ico-cancel-image: '../img/sprite.png';
$ico-cancel: (64px, 64px, -64px, -64px, 34px, 34px, 162px, 128px, '../img/sprite.png', 'ico_cancel', );
$ico-like-full-name: 'ico_like_full';
$ico-like-full-x: 0px;
$ico-like-full-y: 0px;
$ico-like-full-offset-x: 0px;
$ico-like-full-offset-y: 0px;
$ico-like-full-width: 64px;
$ico-like-full-height: 64px;
$ico-like-full-total-width: 162px;
$ico-like-full-total-height: 128px;
$ico-like-full-image: '../img/sprite.png';
$ico-like-full: (0px, 0px, 0px, 0px, 64px, 64px, 162px, 128px, '../img/sprite.png', 'ico_like_full', );
$ico-like-name: 'ico_like';
$ico-like-x: 64px;
$ico-like-y: 0px;
$ico-like-offset-x: -64px;
$ico-like-offset-y: 0px;
$ico-like-width: 64px;
$ico-like-height: 64px;
$ico-like-total-width: 162px;
$ico-like-total-height: 128px;
$ico-like-image: '../img/sprite.png';
$ico-like: (64px, 0px, -64px, 0px, 64px, 64px, 162px, 128px, '../img/sprite.png', 'ico_like', );
$ico-save-name: 'ico_save';
$ico-save-x: 128px;
$ico-save-y: 0px;
$ico-save-offset-x: -128px;
$ico-save-offset-y: 0px;
$ico-save-width: 34px;
$ico-save-height: 34px;
$ico-save-total-width: 162px;
$ico-save-total-height: 128px;
$ico-save-image: '../img/sprite.png';
$ico-save: (128px, 0px, -128px, 0px, 34px, 34px, 162px, 128px, '../img/sprite.png', 'ico_save', );
$ico-ukulele-logo-name: 'ico_ukulele_logo';
$ico-ukulele-logo-x: 0px;
$ico-ukulele-logo-y: 64px;
$ico-ukulele-logo-offset-x: 0px;
$ico-ukulele-logo-offset-y: -64px;
$ico-ukulele-logo-width: 64px;
$ico-ukulele-logo-height: 64px;
$ico-ukulele-logo-total-width: 162px;
$ico-ukulele-logo-total-height: 128px;
$ico-ukulele-logo-image: '../img/sprite.png';
$ico-ukulele-logo: (0px, 64px, 0px, -64px, 64px, 64px, 162px, 128px, '../img/sprite.png', 'ico_ukulele_logo', );
$spritesheet-width: 162px;
$spritesheet-height: 128px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($ico-cancel, $ico-like-full, $ico-like, $ico-save, $ico-ukulele-logo, );
$spritesheet: (162px, 128px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
