//글쓰기
.write_view{
	padding: 15px 15px 20px;
	background-color: #f7f7ff;

	.author,.title{
		margin: 8px 0;

		label{
			float: left;
			min-width: 50px;
			font-size: 14px;
			line-height: 34px;
			text-align: center;
		}
	}

	.author_area,.title_area{
		display: block;
		overflow: hidden;
		padding: 3px 6px;
		border: 1px solid #cacaca;
		background-color: #fff;

		input{
			width: 100%;
		}

		.code{
			display: inline-block;
			width: 100%;
			line-height: 26px;
			vertical-align: top;
		}
	}

	.btn_note{
		float: right;
		padding: 0 10px;
		font-size: 16px;
		line-height: 40px;
		color: #fff;
		background-color: #3498dc;
		border-radius: 10px;

		&:hover{
			background-color: rgba(52, 152, 220, 0.8);
		}
	}

	.button_area{
		padding: 10px 0 20px;
		text-align: center;

		button{
			padding: 0 15px;
			margin: 0 10px;
			font-size: 16px;
			line-height: 40px;
			color: #222;
			border-radius: 10px;
			background-color: rgba(255,235,160,0.7);

			&:hover{
				background-color: #ffeaa7;
			}
		}

		.btn_cancel::before{
			content: '';
			display: inline-block;
			margin: 3px 5px 0 0;
			vertical-align: top;
			@include sprite($ico-cancel);
		}
		.btn_save{
			background-color: rgba(85,240,200,0.7);

			&:hover {
				background-color: #55efc4;
			}

			&::before{
				content: '';
				display: inline-block;
				margin: 3px 5px 0 0;
				vertical-align: top;
				@include sprite($ico-save);
			}
		}
	}
}