@import "reset";
@import "sprite";
@import "common";
@import "header";
@import "music_sheet";
@import "write";
@import "detail";

.tab_list{
	display: flex;
	position: relative;
	background-color: #fff;
	z-index: 10;

	>li{
		overflow: hidden;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		flex: 1;
	}
	.tab_item{
		display: block;
		position: relative;
		font-size: 18px;
		line-height: 50px;
		color: rgba(90,100,120,0.8);
		text-align: center;

		&[area-selected="true"]{
			font-weight: bold;
			color: rgba(90,100,120,1);

			&::after{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: #5a6478;
			}
		}
	}
}

.contents{
	background-color: #f1f2f6;

	&::after{
		@include clear;
	}
}

.btn_area {
	padding: 15px 5px 0;
	text-align: right;

	.btn_search,.btn_write {
		display: inline-block;
		padding: 0 10px;
		margin-right: 5px;
		font-size: 16px;
		line-height: 40px;
		color: #fff;
		background-color: #91969c;
		border-radius: 10px;

		&:hover {
			background-color: rgba(145, 150, 155, 0.8);
		}
	}

	.btn_search::before{
		content: '';
		display: inline-block;
		margin: 4px 4px 0 0;
		@include sprite($ico_search);
		vertical-align: top;
	}

	.btn_write::before{
		content: '';
		display: inline-block;
		margin: 4px 4px 0 0;
		@include sprite($ico_note);
		vertical-align: top;
	}
}

.searchbar{
	height: 0;
	overflow: hidden;
	transform: translateY(-100%);
	transition: all ease-in 0.3s;

	&.isShow{
		height: 46px;
		transform: translateY(0);
	}

	.search_data{
		display: block;
		overflow: hidden;
		padding: 3px 6px;
		background-color: #f1f2f6;

		input{
			width: 100%;
			height: 40px;
			line-height: 40px;
		}
	}

	.btn_search{
		float: right;
		border: 2px solid #5a6478;
		border-radius: 5px;
		background-color: rgba(255,255,255,0.4);

		&::before{
			@include sprite($ico_search);

			content: '';
			display: block;
			margin: 5px;
		}
	}
}

.card_list{
	clear: both;
	padding: 15px 5px 30px;
	font-size: 0;
}

.card{
	display: inline-block;
	position: relative;
	width: 33.33%;
	padding: 5px;
	box-sizing: border-box;
	vertical-align: top;

	.card_preview{
		display: block;
		overflow: hidden;
		border-radius: 10px;
		background-color: #ced6e0;
		box-shadow: 0 1px 2px rgba(0,0,0,0.5);

		&.highlight{
			background-color: red;
		}
	}

	.btn_like{
		position: absolute;
		top: 188px;
		right: 10px;

		.ico_like{
			display: block;
			@include sprite($ico_like);
		}
		.ico_like_full{
			display: block;
			@include sprite($ico_like_full);
			animation: heart-full 0.5s;
		}
	}

	.thumb{
		overflow: hidden;
		height: 220px;
		background-color: rgba(0,0,0,0.3);

		img{
			vertical-align: middle;
		}

		&::before{
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}

	.thumb_info{
		overflow: hidden;
		padding: 0 10px;
		font-size: 16px;
		line-height: 20px;
	}

	.info_title{
		@include ellipsis(2);

		height: 40px;
		margin: 10px 0 5px;
		font-size: 18px;
		font-weight: bold;
		color: #2f3542;
	}

	.info_author{
		@include ellipsis;

		display: block;
		margin: 5px 0 10px;
		color: #57606f;
	}
}

.dimmed{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
}

.popup{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 200px;
	margin: auto;
	background-color: #f7f7ff;
	text-align: center;
	z-index: 200;

	.message{
		padding: 50px 15px 35px;
		font-size: 18px;
	}

	.btn_confirm,
	.btn_cancel{
		padding: 0 15px;
		margin: 0 5px;
		font-size: 16px;
		line-height: 40px;
		color: #222;
		border-radius: 10px;
		background-color: rgba(85,240,50,0.7);

		&:hover {
			background-color: rgba(85,240,50,0.9);
		}
	}
	.btn_cancel{
		background-color: rgba(130,130,130,0.7);

		&:hover{
			background-color: rgba(130,130,130,0.9);
		}
	}
}

@keyframes heart-full {
	0%{
		transform: scale(0.8);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}